{{ define "main" }}

{{ partial "page-header.html" . }}

<section class="section my-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">

        {{ with .Params.intro }}
        <p class="lead mb-4">{{ . }}</p>
        {{ end }}

        {{ with .Params.images }}
        <div class="row justify-content-center gy-4">
          {{ range . }}
          <div class="col-12 col-md-8 col-lg-6 d-flex justify-content-center">
            <img src="{{ . }}" alt="Chi siamo" class="img-fluid rounded shadow">
          </div>
          {{ end }}
        </div>
        {{ end }}

        <div class="mt-4">
          {{ .Content }}
        </div>

      </div>
    </div>
  </div>
</section>

{{ end }}
